# Quiz: Data Munging, Wrangling, Cleaning, and Statistics

## Time: 8:00 AM - 9:15 AM. 

Any submission late than 9:15AM will have a 20% deduction. Submission after the midnight (11:59PM) will be 0.

### Instructions:

This quiz consists of multiple-choice questions (5 points each).
Choose the best answer for each question.
There is only one correct answer for each question.

1. What is the primary goal of data munging in data analysis?

    a. To visualize data

    b. To collect data

    c. To clean and preprocess data

    d. To perform statistical tests

c. To clean and preprocess data

2. Which of the following tasks is part of data wrangling?

    a. Data visualization

    b. Data cleaning and transformation

    c. Statistical hypothesis testing

    d. Data modeling

b. Data cleaning and transformation

3. Which of the following is an example of missing data handling technique?

    a. Ignoring missing data

    b. Replacing missing values with zeros

    c. Deleting rows with missing data

    d. All of the above

d. All of the above

4. In data cleaning, what is outlier detection and treatment used for?

    a. To add noise to the data
    
    b. To identify missing values
    
    c. To identify and handle unusual or extreme data points
    
    d. To create summary statistics

c. To identify and handle ususual or extreme data points

5. What is the main purpose of exploratory data analysis?

    a. To make predictions
    
    b. To visualize data
    
    c. To clean data
    
    d. To create machine learning models

b. To visualize data

6. Which of the following statistical measures represents the central tendency of a dataset?

    a. Mean
    
    b. Standard deviation
    
    c. Skewness
    
    d. Variance

a. Mean

7. What does the term "data normalization" refer to in data analysis?

    a. Converting data into a standard format
    
    b. Deleting missing values
    
    c. Removing outliers
    
    d. Creating summary statistics

a. Converting data into a standard format

8. Which of the following is NOT a common data visualization tool or library?

    a. Matplotlib
    
    b. Seaborn
    
    c. NumPy
    
    d. Pandas

c. NumPy

9. In statistics, what does the p-value represent in hypothesis testing?

    a. The probability of making a Type I error
    
    b. The level of confidence in a result
    
    c. The effect size of an experiment
    
    d. The sample size

a. The probability of making a Type I error

10. What is the purpose of data imputation in data analysis?

    a. To remove outliers
    
    b. To visualize data
    
    c. To replace missing values with estimated values
    
    d. To calculate summary statistics

c. To replace missing values with estimated values

### Hands-On Coding Task

11. Random generate a list of 20 numbers, write Python code to print out the list, the mean, median, mode, variance and stand deviation of these numbers. (10 points)

In [3]:
import pandas as pd
import random

# Generate random number count 20
random_numb = [random.randint(1, 100) for _ in range(20)]


df = pd.DataFrame({'Random Numbers': random_numb})

# Use describe() to calculate summary statistics
summary_stats = df.describe()

summary_stats

       Random Numbers
count       20.000000
mean        43.100000
std         28.729043
min          6.000000
25%         23.250000
50%         35.000000
75%         61.750000
max         93.000000

12. You have a DataFrame df with a column named "age" containing some missing values. Write Python code to replace the missing values in the "age" column with the mean age of the non-missing values in that column using pandas.(10 Points)

In [ ]:

# Gets the mean from the column named age
mean_age = df['age'].mean()

# Replace missing values with the mean age
df['age'].fillna(mean_age, inplace=True)

13. Given a DataFrame df with a column named "income," write Python code using pandas to calculate the median income. (10 Points)

In [ ]:
import pandas as pd


# Calculate the median income of column income
median_income = df['income'].median()

# Print the median income
median_income

14. Review the list of "UnitPrice" in in_class_quiz_1. Write Python code to calculate the 25th, 50th, 75th percentile of these scores.(10 points)

In [ ]:
import numpy as np

unit_price = data['UnitPrice']
percentiles = np.percentile(unit_price, [25, 50, 75])
precentiles

15. Generate two matrices A, B of size 8*8, use values between 1 and 10 for simplicity. Print out A, B, the multiplication of A and B, the inverse of A. Do matrix multiplication properties hold true for the matrices you've generated? For instance, is $(A×B)^{−1}$ equal to $B^{−1}× A^{−1}$? Use Python to verify.

In [13]:
import numpy as np

# Generate two 8x8 matrices A and B with values between 1 and 10
A = np.random.randint(1, 11, (8, 8))
B = np.random.randint(1, 11, (8, 8))

print(A)
print("")
print(B)

[[ 3  7  5  1  1 10  3  5]
 [ 3  9  8  6 10  4  6  1]
 [10  7  5  8  3  5  1  5]
 [ 4  7  8  8  7  6  5  7]
 [10  7  7  2  7  7  1  4]
 [ 6  4  6  6 10  4  2 10]
 [ 2 10  5 10  2  4  6  3]
 [ 1  5  1 10  9  9  9  9]]

[[ 2  6 10  6  9  9  7  5]
 [ 4  2  7  3  6  6  1  5]
 [ 1  6  8  8  8  2  2  8]
 [ 2  9  6  8  8  7  6  2]
 [ 2  5  6  4  6  2  7 10]
 [ 5  2 10  5  8  8  6  6]
 [ 8  9  4  2  8  7  2  2]
 [ 6  8  2  1  3 10  3  6]]

In [24]:
# Matrix multiplication of A and B
AB = np.dot(A, B)
print(AB)

[[147 163 253 152 242 239 132 198]
 [156 258 319 230 336 243 191 278]
 [138 250 319 229 317 301 203 233]
 [186 306 337 248 357 317 215 293]
 [140 224 341 222 322 277 208 283]
 [162 290 300 218 312 298 222 298]
 [159 248 272 205 299 266 153 194]
 [232 328 311 217 352 354 236 274]]

In [23]:
#Inverse of A
A_inverse = np.linalg.inv(A)
print(A_inverse)

[[-3.86417190e-01 -4.64654900e-01 -4.23897441e-01  2.72206925e-01
   7.08847560e-01 -1.88933779e-01  3.38112220e-01  7.22656074e-02]
 [ 1.50575543e-01  1.20141742e-01  1.08518034e-02 -4.10499707e-01
  -9.62352729e-02  2.33943484e-01  1.68564077e-01 -5.71073895e-02]
 [-5.44576355e-02 -5.79605471e-02 -5.65973006e-02  3.59752629e-01
   4.14300546e-02 -1.24660317e-01 -6.63296168e-02 -6.94623753e-02]
 [ 2.53153072e-01  4.18972600e-01  5.78666546e-01 -1.22619961e-01
  -6.69963436e-01  3.77217533e-02 -4.09082291e-01 -2.10942085e-02]
 [ 1.80912292e-01  3.47887419e-01  2.77750192e-01 -2.67074437e-01
  -3.66620774e-01  1.44568456e-01 -2.48025098e-01 -7.56105268e-04]
 [ 3.85672369e-01  4.56236176e-01  5.62795107e-01 -1.64501422e-01
  -6.49013678e-01  8.89270076e-04 -5.09195143e-01  7.52042613e-03]
 [-7.49693044e-01 -9.52591071e-01 -1.08754570e+00  6.67733490e-01
   1.39200785e+00 -3.86896809e-01  7.76567508e-01  1.59542726e-01]
 [-1.32839796e-01 -3.25734663e-01 -3.48602898e-01  5.79244346e-02
   3.38130276e-01  1.04401210e-01  3.11343836e-01 -3.43068659e-04]]

In [25]:
# Verify matrix multiplication 
AB_inverse = np.linalg.inv(AB)
B_inverse = np.linalg.inv(B)

# Check to see if the inverse holds true
if np.allclose(AB_inverse, np.dot(B_inverse, A_inverse)):
    print("hold true.")
else:
    print("not hold true.")

hold true.

Remember to submit the notebook to Canvas successfully once you have completed the quiz