In [36]:
import numpy as np
import pandas as pd

file_path = 'data/merged_data.csv'  # Replace with your file path
df = pd.read_csv(file_path)
df.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22_cases,2020-01-23_cases,2020-01-24_cases,2020-01-25_cases,2020-01-26_cases,2020-01-27_cases,...,2023-07-15_deaths,2023-07-16_deaths,2023-07-17_deaths,2023-07-18_deaths,2023-07-19_deaths,2023-07-20_deaths,2023-07-21_deaths,2023-07-22_deaths,2023-07-23_deaths,population
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,55869
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,223234
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,24686
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,22394
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,261,261,261,261,261,261,261,261,261,57826

In [37]:
df = df.drop(['countyFIPS', 'population'], axis=1)
case_columns = [col for col in df.columns if '_cases' in col]
death_columns = [col for col in df.columns if '_deaths' in col]
df_cases = df.melt(id_vars=['County Name', 'State', 'StateFIPS'], value_vars=case_columns, 
                   var_name='date', value_name='cases')
df_cases['date'] = df_cases['date'].str.replace('_cases', '')

df_deaths = df.melt(id_vars=['County Name', 'State', 'StateFIPS'], value_vars=death_columns, 
                    var_name='date', value_name='deaths')
df_deaths['date'] = df_deaths['date'].str.replace('_deaths', '')

In [38]:
df_combined = pd.merge(df_cases, df_deaths, on=['County Name', 'State', 'StateFIPS', 'date'])
df_grouped = df_combined.groupby(['State', 'date']).agg({'cases': 'sum', 'deaths': 'sum'}).reset_index()

In [39]:
df_grouped['date'] = pd.to_datetime(df_grouped['date'])
start_date = '2020-06-28'
end_date = '2020-12-27'

mask = (df_grouped['date'] >= start_date) & (df_grouped['date'] <= end_date)
filtered_df = df_grouped.loc[mask]

In [40]:
filtered_df.set_index('date', inplace=True)
filtered_df.head()

           State  cases  deaths
date
2020-06-28    AK    950      13
2020-06-29    AK    985      13
2020-06-30    AK   1013      13
2020-07-01    AK   1061      13
2020-07-02    AK   1102      13

In [41]:
# Replace 'StateName' with the name of the state you want to filter by
NC_df = filtered_df.loc[filtered_df['State'] == 'NC']
NC_df.head()

,County Name,State,StateFIPS,2020-01-22_cases,2020-01-23_cases,2020-01-24_cases,2020-01-25_cases,2020-01-26_cases,2020-01-27_cases,2020-01-28_cases,...,2023-07-14_deaths,2023-07-15_deaths,2023-07-16_deaths,2023-07-17_deaths,2023-07-18_deaths,2023-07-19_deaths,2023-07-20_deaths,2023-07-21_deaths,2023-07-22_deaths,2023-07-23_deaths
1890,Alamance County,NC,37,0,0,0,0,0,0,0,...,585,585,585,585,585,585,585,585,585,585
1891,Alexander County,NC,37,0,0,0,0,0,0,0,...,161,161,161,161,161,161,161,161,161,161
1892,Alleghany County,NC,37,0,0,0,0,0,0,0,...,23,23,23,23,23,23,23,23,23,23
1893,Anson County,NC,37,0,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
1894,Ashe County,NC,37,0,0,0,0,0,0,0,...,96,96,96,96,96,96,96,96,96,96