## Submit your completed assignment during class time before 9:15AM. (20 points) 

Any late submission will lose 20 points. 

Submissions later than today's midnight 11:59PM will have no credit.

In [33]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math

#### Download the data in your local computer and read the csv (5 points)

In [9]:
spreadsheet = pd.read_csv('data.csv')

#### Show 10 rows of the dataframe (5 points)

In [10]:
spreadsheet.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

#### What is the shape of the data (rows and columns) (5 points)

In [11]:
spreadsheet.shape

(37309, 8)

#### What is the data type of the each column (5 points)

In [13]:
spreadsheet.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

The data type is objects

#### Calculate the average of "UnitPrice". (5 points)

In [15]:
meanOfUnitPrice = spreadsheet["UnitPrice"].mean()
meanOfUnitPrice

6.230192988099068

#### Create a new DataFrame that includes only the "France". (5 points)

In [20]:
franceData = spreadsheet[spreadsheet['Country'] == 'France']
franceData

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
...,...,...,...,...,...,...,...,...
35206,539435,21731,RED TOADSTOOL LED NIGHT LIGHT,36,12/17/2010 14:46,1.65,12691.0,France
35207,539435,22326,ROUND SNACK BOXES SET OF4 WOODLAND,12,12/17/2010 14:46,2.95,12691.0,France
35208,539435,20750,RED RETROSPOT MINI CASES,4,12/17/2010 14:46,7.95,12691.0,France
35209,539435,21452,TOADSTOOL MONEY BOX,12,12/17/2010 14:46,2.95,12691.0,France
35210,539435,POST,POSTAGE,1,12/17/2010 14:46,18.00,12691.0,France

#### Save this filtered DataFrame to a new CSV file named "data_France.csv." (5 points)

In [21]:
franceData.to_csv('data_France.csv', index=False)

#### Are there issues with the data (20 points)

Is there missing data

In [ ]:
missing_data = spreadsheet.isna()
print("missing data")
print(missing_data_

missing data
       InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0          False      False        False     False        False      False
1          False      False        False     False        False      False
2          False      False        False     False        False      False
3          False      False        False     False        False      False
4          False      False        False     False        False      False
...          ...        ...          ...       ...          ...        ...
37304      False      False        False     False        False      False
37305      False      False        False     False        False      False
37306      False      False        False     False        False      False
37307      False      False        False     False        False      False
37308      False      False        False     False        False       True

       CustomerID  Country
0           False    False
1           False    False
2           False    False
3           False    False
4           False    False
...           ...      ...
37304       False    False
37305       False    False
37306       False    False
37307       False    False
37308        True     True

[37309 rows x 8 columns]

How many rows have missing data

In [28]:
missing_rows = spreadsheet.isna().sum(axis=1)
count_missing_rows = (missing_rows > 0).sum()
print(count_missing_rows)

12880

What is the percentage of missing data

In [36]:
total_cells = spreadsheet.size
percentage_of_missing_data = (count_missing_rows / total_cells) * 100
print(round(percentage_of_missing_data,4), "%")

4.3153 %

Show rows of missing data

In [37]:
missing_rows

0        0
1        0
2        0
3        0
4        0
        ..
37304    0
37305    0
37306    0
37307    0
37308    3
Length: 37309, dtype: int64

#### Give the number of transactions by country (5 points)

In [59]:
transaction = spreadsheet.groupby('Country').size().reset_index()
transaction.columns = ['Country', 'Count']

print(transaction)

            Country  Count
0         Australia     35
1           Austria      9
2           Belgium     42
3   Channel Islands     17
4            Cyprus     83
5           Denmark     20
6              EIRE    319
7           Finland     17
8            France    368
9           Germany    437
10          Iceland     31
11           Israel      2
12            Italy     25
13            Japan     65
14        Lithuania     35
15      Netherlands      2
16           Norway    147
17           Poland      8
18         Portugal    120
19            Spain     75
20           Sweden     27
21      Switzerland      6
22   United Kingdom  35418

#### Find the highest valued item in the transactions (5 points)

In [50]:
largest_value = spreadsheet['UnitPrice'].idxmax()
item_largest_value = spreadsheet.loc[largest_value]
print(item_largest_value)

InvoiceNo              C537630
StockCode            AMAZONFEE
Description         AMAZON FEE
Quantity                    -1
InvoiceDate    12/7/2010 15:04
UnitPrice             13541.33
CustomerID                 NaN
Country         United Kingdom
Name: 15016, dtype: object

#### Which customer had the highest number of transactions (5 points)

In [52]:
customer_high = spreadsheet['CustomerID'].value_counts().reset_index()
customer_high.columns = ['CustomerID', 'transaction_count']

most_transactions = customer_high.iloc[0]
print(most_transactions)

CustomerID           12748.0
transaction_count      644.0
Name: 0, dtype: float64

#### Which customers bought `KNITTED UNION FLAG HOT WATER BOTTLE`  (5 points)

In [56]:
item_name = 'KNITTED UNION FLAG HOT WATER BOTTLE'
customer_bought_item = spreadsheet[spreadsheet['Description'] == item_name]

customer_bought_item

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
61,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
78,536375,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
230,536390,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,24,12/1/2010 10:19,3.39,17511.0,United Kingdom
291,536396,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 10:51,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
36071,539437,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,3,12/17/2010 14:54,7.62,NaN,United Kingdom
36209,539443,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,24,12/17/2010 15:52,3.39,14031.0,United Kingdom
36392,539451,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2,12/17/2010 16:59,7.62,NaN,United Kingdom
36781,539452,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,48,12/17/2010 17:06,3.39,15856.0,United Kingdom
36981,539453,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,3,12/17/2010 17:08,7.62,NaN,United Kingdom

#### Show customers who bought `KNITTED UNION FLAG HOT WATER BOTTLE` and `CREAM CUPID HEARTS COAT HANGER` (5 points)

In [58]:
items_to_check = ['KNITTED UNION FLAG HOT WATER BOTTLE', 'CREAM CUPID HEARTS COAT HANGER']
customer_bought_items = spreadsheet[spreadsheet['Description'].isin(items_to_check)]
counting_customer = customer_bought_items.groupby('CustomerID')['Description'].nunique()

customer_bought_both = counting_customer[counting_customer == len(items_to_check)]
print(customer_bought_both)

CustomerID
15808.0    2
15856.0    2
17841.0    2
17850.0    2
Name: Description, dtype: int64

## Delievery: Please upload your notebook and data_France.csv to canvas/Assignments/quiz 1.