# all method that üêºpandas lets you use on a DataFrame

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

In [ ]:
import pandas as pd

## WHAT  is a series?
series is like a column in a table. It is a one dimensional array that can hold data of any type

In [44]:
a = [1,2,4]
myvary = pd.Series(a, index = ["x", "y", "z"])
print(myvary)

x    1
y    2
z    4
dtype: int64

adding indext is creating a label

##### you can also convert a dictionary into a series

In [14]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

# Dataframes
usually multi-dimensional tables 
series is like a column, a data frame is the whole table
having columns and rows

In [15]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

loc returns a specific row
just insert index
returning a series

In [20]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

using double brackets will return a dataframe
whichi in this case is the first two values of the dataframe

In [ ]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

# import files and Reading CSV Files

In [ ]:
df = pd.read_csv('data.csv')
print(df.to_string())

To check the max number of rows print will show you can use
you can increase this same = #

In [28]:
pd.options.display.max_rows

60

# import json files can also be done using pandas

In [29]:

#df = pd.read_json('data.json')

#print(df.to_string())

again the data can that is in dictionary form can be turned into a datafram

## quick view data can be done using

In [30]:
print(df.head())

   calories  duration
0       420        50
1       380        40
2       390        45

### can also be used on info() to get more information

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 120.0 bytes

In [41]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

# Cleaning data using pandas

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

### removing rows:
deal with empty cells is to remove rows that conatin empty cells

In [ ]:
new_df = df.dropna()

will not replace or change the OG dataframe, it just returns a new one

if you want to you have to us

In [ ]:
df.dropna(inplace = True)

you can also replace specific NULL values in a column

In [ ]:
df['calories'].fillna(120, inplace = True)

this makes every null values in the column calories with the values of 120

### many times a rows with a null value is not removed but replaced with the mean, median or mode, This preserves the data without allowing for null values

In [43]:
x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

# fixing wrong format data

In [ ]:
df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

you can also replace values, wrong values that don't make sense

In [ ]:
df.loc[7, 'Duration'] = 45

this replaces row 7, column duration, changes value to 45

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

replaces the values geater than 120, in the column duration with the the values that makes sense 120

## removing dupicates
can be simples

In [ ]:
print(df.duplicated()) # print boolean values if their exist duplicates
df.drop_duplicates(inplace = True)

# correlation 
determining if a relationship existes between columns
values from 1 to -1
1 being positives 1 to 1 correlation, if one goes up the other goes up
-1 values being negatives correlation, one goes down the other goes up
if the values is close to 0 then their is no or very little relationship or correlation

In [ ]:
df.corr()